@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500);

body, body * {
  font-family: Ubuntu, sans-serif;
}

.response {
  text-align: center;
  margin-top: 50px;
  height: 50px;
  color: #003300;
  font-size: 2em;
}

h3 {
  text-align: center;
  margin: 0 0 20px;
  color: #003300;
}

form {
  background: #4D8C4D;
  margin: auto;
  padding: 50px;
  border-radius: 10px;
  font-size: 2em;
  width: 315px;
}

input {
  border: 1px solid #003300;
  background: #FFFFFF;
  padding: 5px;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
}

button {
  background: #4D8C4D;
  border: 1px solid #003300;
  padding: 5px;
  color: #003300;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}
